:root {
  --white: 255, 255, 255;
  --c0-50: 251, 251, 253; /* #fbfbfd */
  --c0-100: 246, 247, 251; /* #f6f7fb */
  --c0-200: 204, 209, 225; /* #ccd1e1 */
  --c0-300: 161, 171, 199; /* #a1abc7 */
  --c0-400: 132, 141, 164; /* #848da4 */
  --c0-500: 103, 110, 128; /* #676e80 */
  --c0-600: 79, 85, 99; /* #4f5563 */
  --c0-700: 57, 61, 71; /* #393d47 */
  --c0-800: 34, 36, 42; /* #22242a */
  --c0-900: 11, 12, 14; /* #0b0c0e */

  --c1-50: 250, 251, 255; /* #fafbff */
  --c1-100: 235, 240, 254; /* #ebf0fe */
  --c1-200: 204, 217, 252; /* #ccd9fc */
  --c1-300: 162, 184, 243; /* #a2b8f3 */
  --c1-400: 119, 152, 233; /* #7798e9 */
  --c1-500: 119, 152, 233; /* #7798e9 */
  --c1-600: 69, 98, 189; /* #4562bd */
  --c1-700: 58, 77, 155; /* #3a4d9b */
  --c1-800: 26, 12, 129; /* #110663 */
  --c1-900: 33, 38, 84; /* #212654 */

  --c2-50: 253, 249, 251; /* #fdf9fb */
  --c2-100: 251, 244, 247; /* #fbf4f7 */
  --c2-200: 240, 210, 222; /* #f0d2de */
  --c2-300: 228, 177, 196; /* #e4b1c4 */
  --c2-400: 217, 143, 171; /* #d98fab */
  --c2-500: 194, 128, 153; /* #c28099 */
  --c2-600: 179, 118, 141; /* #b3768d */
  --c2-700: 139, 90, 108; /* #8b5a6c */
  --c2-800: 99, 61, 76; /* #633d4c */
  --c2-900: 59, 33, 43; /* #3b212b */

  --c3-50: 231, 231, 231; /* #E7E7E7 */
  --c3-100: 127, 135, 158; /* #7F879E */
  --c3-200: 255, 242, 195; /* #FFF2C3 */
  --c3-300: 255, 169, 90; /* #FFA95A */
  --c3-400: 255, 110, 90; /* #FF6E5A */
  --c3-500: 111, 207, 151; /* #6FCF97 */
  --c3-600: 0, 0, 0; /* black */
  --c3-700: 0, 0, 0; /* black */
  --c3-800: 0, 0, 0; /* black */
  --c3-900: 0, 0, 0; /* black */

  --c4-50: 0, 0, 0; /* black */
  --c4-100: 0, 0, 0; /* black */
  --c4-200: 0, 0, 0; /* black */
  --c4-300: 0, 0, 0; /* black */
  --c4-400: 0, 0, 0; /* black */
  --c4-500: 0, 0, 0; /* black */
  --c4-600: 0, 0, 0; /* black */
  --c4-700: 0, 0, 0; /* black */
  --c4-800: 0, 0, 0; /* black */
  --c4-900: 0, 0, 0; /* black */

  --c5-50: 0, 0, 0; /* black */
  --c5-100: 0, 0, 0; /* black */
  --c5-200: 0, 0, 0; /* black */
  --c5-300: 0, 0, 0; /* black */
  --c5-400: 0, 0, 0; /* black */
  --c5-500: 0, 0, 0; /* black */
  --c5-600: 0, 0, 0; /* black */
  --c5-700: 0, 0, 0; /* black */
  --c5-800: 0, 0, 0; /* black */
  --c5-900: 0, 0, 0; /* black */

  --c6-50: 0, 0, 0; /* black */
  --c6-100: 0, 0, 0; /* black */
  --c6-200: 0, 0, 0; /* black */
  --c6-300: 0, 0, 0; /* black */
  --c6-400: 0, 0, 0; /* black */
  --c6-500: 0, 0, 0; /* black */
  --c6-600: 0, 0, 0; /* black */
  --c6-700: 0, 0, 0; /* black */
  --c6-800: 0, 0, 0; /* black */
  --c6-900: 0, 0, 0; /* black */

  --c7-50: 0, 0, 0; /* black */
  --c7-100: 0, 0, 0; /* black */
  --c7-200: 0, 0, 0; /* black */
  --c7-300: 0, 0, 0; /* black */
  --c7-400: 0, 0, 0; /* black */
  --c7-500: 0, 0, 0; /* black */
  --c7-600: 0, 0, 0; /* black */
  --c7-700: 0, 0, 0; /* black */
  --c7-800: 0, 0, 0; /* black */
  --c7-900: 0, 0, 0; /* black */

  --c8-50: 0, 0, 0; /* black */
  --c8-100: 0, 0, 0; /* black */
  --c8-200: 0, 0, 0; /* black */
  --c8-300: 0, 0, 0; /* black */
  --c8-400: 0, 0, 0; /* black */
  --c8-500: 0, 0, 0; /* black */
  --c8-600: 0, 0, 0; /* black */
  --c8-700: 0, 0, 0; /* black */
  --c8-800: 0, 0, 0; /* black */
  --c8-900: 0, 0, 0; /* black */

  --c9-50: 0, 0, 0; /* black */
  --c9-100: 0, 0, 0; /* black */
  --c9-200: 0, 0, 0; /* black */
  --c9-300: 0, 0, 0; /* black */
  --c9-400: 0, 0, 0; /* black */
  --c9-500: 0, 0, 0; /* black */
  --c9-600: 0, 0, 0; /* black */
  --c9-700: 0, 0, 0; /* black */
  --c9-800: 0, 0, 0; /* black */
  --c9-900: 0, 0, 0; /* black */

  --c10-50: 0, 0, 0; /* black */
  --c10-100: 0, 0, 0; /* black */
  --c10-200: 0, 0, 0; /* black */
  --c10-300: 0, 0, 0; /* black */
  --c10-400: 0, 0, 0; /* black */
  --c10-500: 0, 0, 0; /* black */
  --c10-600: 0, 0, 0; /* black */
  --c10-700: 0, 0, 0; /* black */
  --c10-800: 0, 0, 0; /* black */
  --c10-900: 0, 0, 0; /* black */

  --c11-50: 0, 0, 0; /* black */
  --c11-100: 0, 0, 0; /* black */
  --c11-200: 0, 0, 0; /* black */
  --c11-300: 0, 0, 0; /* black */
  --c11-400: 0, 0, 0; /* black */
  --c11-500: 0, 0, 0; /* black */
  --c11-600: 0, 0, 0; /* black */
  --c11-700: 0, 0, 0; /* black */
  --c11-800: 0, 0, 0; /* black */
  --c11-900: 0, 0, 0; /* black */

  --c12-50: 0, 0, 0; /* black */
  --c12-100: 0, 0, 0; /* black */
  --c12-200: 0, 0, 0; /* black */
  --c12-300: 0, 0, 0; /* black */
  --c12-400: 0, 0, 0; /* black */
  --c12-500: 0, 0, 0; /* black */
  --c12-600: 0, 0, 0; /* black */
  --c12-700: 0, 0, 0; /* black */
  --c12-800: 0, 0, 0; /* black */
  --c12-900: 0, 0, 0; /* black */

  --c13: 0, 0, 0; /* black */
  --c14: 0, 0, 0; /* black */
  --c15: 0, 0, 0; /* black */

  --cWhite: 255, 255, 255; /* white */
  --cBlack: 0, 0, 0; /* black */
  --cTransparent: transparent;
  --cCurrent: currentColor;

  --cError-50: 255, 250, 251; /* #fffafb */
  --cError-100: 253, 227, 232; /* #fde3e8 */
  --cError-200: 251, 203, 212; /* #fbcbd4 */
  --cError-300: 246, 156, 173; /* #f69cad */
  --cError-400: 242, 110, 134; /* #f26e86 */
  --cError-500: 238, 63, 95; /* #ee3f5f */
  --cError-600: 230, 20, 58; /* #e6143a */
  --cError-700: 183, 16, 47; /* #b7102f */
  --cError-800: 136, 12, 35; /* #880c23 */
  --cError-900: 89, 8, 23; /* #590817 */

  --cSuccess-50: 231, 249, 241; /* #e7f9f1 */
  --cSuccess-100: 207, 242, 227; /* #cff2e3 */
  --cSuccess-200: 166, 231, 204; /* #a6e7cc */
  --cSuccess-300: 126, 221, 181; /* #7eddb5 */
  --cSuccess-400: 86, 210, 158; /* #56d29e */
  --cSuccess-500: 52, 195, 135; /* #34c387 */
  --cSuccess-600: 41, 153, 106; /* #29996a */
  --cSuccess-700: 30, 113, 78; /* #1e714e */
  --cSuccess-800: 19, 73, 50; /* #134932 */
  --cSuccess-900: 9, 32, 22; /* #092016 */

  --cWarning-50: 253, 250, 241; /* #fdfaf1 */
  --cWarning-100: 252, 244, 228; /* #fcf4e4 */
  --cWarning-200: 250, 239, 214; /* #faefd6 */
  --cWarning-300: 245, 222, 168; /* #f5dea8 */
  --cWarning-400: 240, 205, 122; /* #f0cd7a */
  --cWarning-500: 235, 186, 74; /* #ebba4a */
  --cWarning-600: 230, 170, 30; /* #e6aa1e */
  --cWarning-700: 188, 138, 21; /* #bc8a15 */
  --cWarning-800: 142, 104, 16; /* #8e6810 */
  --cWarning-900: 96, 71, 11; /* #60470b */

  --primary-color: 17, 6, 99; /* #110663 */
  --primary-font: "Montserrat", "system-ui", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue",
    "Arial", "'Noto Sans'", "sans-serif", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --secondary-font: "Georgia", "Cambria", "Times New Roman", "Times", "serif";

  --tertiary-font: "Menlo", "Monaco", "Consolas", "Liberation Mono", "Courier New", "monospace";
}
